


/*************************************************
                        Default
**************************************************/
body{
    background-color: white;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
}

h1{
    font-size:3em;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/*************************************************
                        media queries
**************************************************/
@media screen and (min-width:640px){
    nav ul{
        display: flex;
    }
}